<div class="mt-3">
  <div class="card" style="width: 100%">
    <div class="card-body" width="100%">
      <span class="h3">Lista de Recetas</span>
      <button
        class="btn btn-dark btn-lg float-right mx-4"
        routerLink="/create-recipes"
      >
        Agregar
      </button>
      <div>
        <h5 *ngIf="recipes.length == 0">No data to display</h5>
        <table *ngIf="recipes.length > 0" class="table table-striped mt-5">
          <thead>
            <tr>
              <th>Name</th>
              <th>Clasification</th>
              <th>Difficulty</th>
              <th>Performance</th>
              <th>Time</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipes of recipes">
              <td>
                {{ recipes.name }}
                <button (click)="redirectToURL('update-recipe/' + recipes.id)">
                  <a>Editar</a>
                </button>
                <button (click)="deleteRecipes(recipes.id)">
                  <a>Eliminar</a>
                </button>
              </td>
              <td>{{ recipes.clasification }}</td>
              <td>{{ recipes.difficulty }}</td>
              <td>{{ recipes.performance }} porciones</td>
              <td>{{ recipes.time }} min</td>
              <td>
                <div *ngFor="let imageUrl of recipes.image">
                  <img [src]="imageUrl" alt="Image" width="200" />
                </div>
              </td>
              <!-- <td>
                <i
                  class="fa-sharp fa-solid fa-pen-to-square fa-lg text-info mr-3"
                  [routerLink]="['/editRecipes/', recipes.id]"
                ></i>
                <i
                  (click)="deleteRecipes(recipes.id)"
                  class="fa-solid fa-trash fa-lg text-danger"
                ></i>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
