<div class="container">
  <div class="card text-center w-100">
    <div class="card-header">
      <h3>{{ titleP }}</h3>
      <div *ngIf="submitted && createProducts.invalid">
        <span class="badge badge-danger">All Changes Are Mandatory</span><br />
        <ng-container *ngIf="createProducts.controls['name']?.invalid">
          <span class="text-danger">Name no acepta numeros</span><br />
        </ng-container>
        <ng-container
          *ngIf="createProducts.controls['scientific_name']?.invalid"
        >
          <span class="text-danger">Scientific_Name no acepta numeros</span
          ><br />
        </ng-container>
        <ng-container *ngIf="createProducts.controls['food_Group']?.invalid">
          <span class="text-danger">Food_Group no acepta numeros</span><br />
        </ng-container>
        <ng-container *ngIf="createProducts.controls['benefitsArray']?.invalid">
          <span class="text-danger">Benefit no acepta numeros</span><br />
        </ng-container>
        <ng-container
          *ngIf="createProducts.controls['derivativesArray']?.invalid"
        >
          <span class="text-danger">Derivatives no acepta numeros</span><br />
        </ng-container>
        <ng-container *ngIf="createProducts.controls['locationArray']?.invalid">
          <span class="text-danger">Location no acepta numeros</span><br />
        </ng-container>
        <ng-container
          *ngIf="createProducts.controls['preparationsArray']?.invalid"
        >
          <span class="text-danger">Preparations no acepta numeros</span><br />
        </ng-container>
        <ng-container
          *ngIf="createProducts.controls['classificationArray']?.invalid"
        >
          <span class="text-danger">Classification no acepta numeros</span
          ><br />
        </ng-container>
        <ng-container
          *ngIf="createProducts.controls['combinationArray']?.invalid"
        >
          <span class="text-danger">Combination no acepta numeros</span><br />
        </ng-container>
        <ng-container *ngIf="createProducts.controls['ciudadArray']?.invalid">
          <span class="text-danger">Ciudad no acepta numeros</span><br />
        </ng-container>
        <ng-container
          *ngIf="createProducts.controls['supermercadoArray']?.invalid"
        >
          <span class="text-danger">Supermercado no acepta numeros</span><br />
        </ng-container>
        <ng-container
          *ngIf="createProducts.controls['micromercadoArray']?.invalid"
        >
          <span class="text-danger">Micromercado no acepta numeros</span><br />
        </ng-container>
      </div>
    </div>

    <div class="card-body">
      <form
        class="mt-4"
        [formGroup]="createProducts"
        (ngSubmit)="addEditProducts()"
      >
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-container">
                <label class="etiqueta" for="name"
                  ><p class="campo">Nombre:</p></label
                >
              </div>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
                placeholder="Name"
                pattern="[a-zA-Z\sáéíóúÁÉÍÓÚñÑ()\[\],.-]+"
                style="border: 2px solid orange"
              />
            </div>

            <div class="form-group mt-2">
              <div class="input-container">
                <label class="etiqueta" for="image"
                  ><p class="campo">Imagen:</p></label
                >
              </div>
              <input
                type="file"
                (change)="uploadImage($event)"
                accept="image/*"
                multiple
                id="uploadInput"
                style="display: none"
              />

              <label for="uploadInput" class="custom-upload-button">
                Elegir archivo
              </label>
            </div>

            <div
              class="image-container my-2"
              *ngFor="let imageItem of products.image; let i = index"
            >
              <div class="image-wrapper my-2">
                <img
                  [src]="imageItem + '?cache=' + i"
                  width="150"
                  alt="Image"
                />
              </div>
              <button
                class="btn delete-button"
                (click)="deleteImage($event, i)"
              >
                <i class="bi bi-trash"></i> Eliminar
              </button>
            </div>

            <div class="form-group">
              <div class="input-container">
                <label class="etiqueta" for="scientific_name">
                  <p class="campo">Nombre Científico:</p></label
                >
              </div>

              <input
                type="text"
                id="scientific_name"
                class="form-control"
                formControlName="scientific_name"
                placeholder="Scientific Name"
                pattern="[a-zA-Z\sáéíóúÁÉÍÓÚñÑ()\[\],.-]+"
                style="border: 2px solid orange; margin-bottom: 14px"
              />
            </div>
          </div>


          <div class="col-md-6">
            <div>
              <h5 style="display: flex; font-size: medium;"><b>Nutricional: </b></h5>
            </div>
            <div class="form-group">
              <label for="calories"><b>Calorías (kcal)</b></label>
              <input
                type="number"
                id="calories"
                class="form-control"
                formControlName="calories"
                placeholder="Calories"
                style="border: 2px solid orange"
              />
            </div>

            <div class="form-group">
              <label for="fiber"><b>Fibra (g)</b></label>
              <input
                type="number"
                id="fiber"
                class="form-control"
                formControlName="fiber"
                placeholder="Fiber"
                style="border: 2px solid orange"
              />
            </div>
            <div class="form-group">
              <label for="fats"><b>Grasas (g)</b></label>
              <input
                type="number"
                id="fats"
                class="form-control"
                formControlName="fats"
                placeholder="Fats"
                style="border: 2px solid orange"
              />
            </div>

            <div class="form-group">
              <label for="carbohydrates"><b>Carbohidratos (g)</b></label>
              <input
                type="number"
                id="carbohydrates"
                class="form-control"
                formControlName="carbohydrates"
                placeholder="Carbohydrates"
                style="border: 2px solid orange"
              />
            </div>

            <div class="form-group">
              <label for="proteins"><b>Proteínas (g)</b></label>
              <input
                type="number"
                id="proteins"
                class="form-control"
                formControlName="proteins"
                placeholder="Proteins"
                style="border: 2px solid orange"
              />
            </div>

            <div class="form-group">
              <label for="lipids"><b>Lípidos (g)</b></label>
              <input
                type="number"
                id="lipids"
                class="form-control"
                formControlName="lipids"
                placeholder="Lipids"
                style="border: 2px solid orange"
              />
            </div>

            <div class="form-group">
              <label for="food_Group"><b>Grupo alimenticio</b></label>
              <input
                type="text"
                id="food_Group"
                class="form-control"
                formControlName="food_Group"
                placeholder="FoodGroup"
                pattern="[a-zA-Z\sáéíóúÁÉÍÓÚñÑ()\[\],.-]+"
                style="border: 2px solid orange"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-container">
                <label class="etiqueta" for="benefitsArray">
                  <p class="campo">Beneficios:</p></label
                >
              </div>
              <button
                type="button"
                class="btn agg-button"
                (click)="addBenefit()"
              >
                Agregar
              </button>
              <div formArrayName="benefitsArray">
                <div
                  *ngFor="let benefit of benefitsArrayControls; let i = index"
                  class="input-group mt-2"
                >
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="i"
                    pattern="[a-zA-Z\sáéíóúÁÉÍÓÚñÑ()\[\],.-]+"
                    style="border: 2px solid orange"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn delete-button"
                      (click)="removeBenefit(i)"
                    >
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group mt-2">
              <div class="input-container">
                <label class="etiqueta" for="derivativesArray">
                  <p class="campo">Derivados:</p></label
                >
              </div>
              <button
                type="button"
                class="btn agg-button"
                (click)="addDerivative()"
              >
                Agregar
              </button>
              <div formArrayName="derivativesArray">
                <div
                  *ngFor="
                    let derivative of derivativesArrayControls;
                    let i = index
                  "
                  class="input-group mt-2"
                >
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="i"
                    pattern="[a-zA-Z\sáéíóúÁÉÍÓÚñÑ()\[\],.-]+"
                    style="border: 2px solid orange; margin-bottom: 14px"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn delete-button"
                      (click)="removeDerivative(i)"
                    >
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div formGroupName="location">
              <div class="form-group">
                <div class="input-container">
                  <label class="etiqueta" for="ciudadArray">
                    <p class="campo">Ciudad:</p></label
                  >
                </div>
                <button
                  type="button"
                  class="btn agg-button"
                  (click)="addCiudad()"
                >
                  Agregar
                </button>
                <div formArrayName="ciudadArray">
                  <div
                    *ngFor="
                      let ciudad of getCiudadArray().controls;
                      let i = index
                    "
                    class="input-group mt-2"
                  >
                    <div class="input-group">
                      <input
                        type="text"
                        [formControlName]="i"
                        class="form-control"
                        style="border: 2px solid orange; margin-bottom: 14px"
                      />
                      <div class="input-group-append">
                        <button
                          type="button"
                          (click)="removeCiudad(i)"
                          class="btn delete-button"
                        >
                          Eliminar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input-container">
                  <label class="etiqueta" for="micromercadoArray">
                    <p class="campo">Micromercado:</p></label
                  >
                </div>
                <button
                  type="button"
                  class="btn agg-button"
                  (click)="addMicromercado()"
                >
                  Agregar
                </button>
                <div formArrayName="micromercadoArray">
                  <div
                    *ngFor="
                      let micromercado of getMicromercadoArray().controls;
                      let i = index
                    "
                    class="imput-group mt-2"
                  >
                    <div class="input-group">
                      <input
                        type="text"
                        [formControlName]="i"
                        class="form-control"
                        style="border: 2px solid orange; margin-bottom: 14px"
                      />
                      <div class="input-group-append">
                        <button
                          type="button"
                          (click)="removeMicromercado(i)"
                          class="btn delete-button"
                        >
                          Eliminar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-container">
                      <label class="etiqueta" for="supermercadoArray">
                        <p class="campo">Supermercado:</p></label
                      >
                    </div>
                    <button
                      type="button"
                      class="btn agg-button"
                      (click)="addSupermercado()"
                    >
                      Agregar
                    </button>
                    <div formArrayName="supermercadoArray">
                      <div
                        *ngFor="
                          let supermercado of getSupermercadoArray().controls;
                          let i = index"
                        class="imput-group mt-2"
                      >
                        <div class="input-group">
                          <input
                            type="text"
                            [formControlName]="i"
                            class="form-control"
                            style="border: 2px solid orange"
                          />
                          <div class="input-group-append">
                            <button
                              type="button"
                              (click)="removeSupermercado(i)"
                              class="btn delete-button"
                            >
                              Eliminar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group mt-2">
              <div class="input-container">
                <label class="etiqueta" for="preparationsArray">
                  <p class="campo">Preparacion:</p></label
                >
              </div>
              <button
                type="button"
                class="btn agg-button"
                (click)="addPreparations()"
              >
                Agregar
              </button>
              <div formArrayName="preparationsArray">
                <div
                  *ngFor="
                    let preparation of preparationsArrayControls;
                    let i = index
                  "
                  class="input-group mt-2"
                >
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="i"
                    pattern="[[a-zA-Z\sáéíóúÁÉÍÓÚñÑ()\[\],.-]+"
                    style="border: 2px solid orange"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn delete-button"
                      (click)="removePreparations(i)"
                    >
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mt-2">
            <div class="form-group">
              <div class="input-container">
                <label class="etiqueta" for="classificationArray">
                  <p class="campo">Clasificación:</p></label
                >
              </div>
              <button
                type="button"
                class="btn agg-button"
                (click)="addClassification()"
              >
                Agregar
              </button>
              <div formArrayName="classificationArray">
                <div
                  *ngFor="
                    let classification of classificationArrayControls;
                    let i = index
                  "

                  class="input-group mt-2"
                >
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="i"
                    pattern="[a-zA-Z\sáéíóúÁÉÍÓÚñÑ()\[\],.-]+"
                    style="border: 2px solid orange; margin-bottom: 14px"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn delete-button"
                      (click)="removeClassification(i)"
                    >
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-container">
                <label class="etiqueta" for="combination">
                  <p class="campo">Combinación:</p></label
                >
              </div>
              <div class="mt-2">
                <button
                  type="button"
                  class="btn agg-button"
                  (click)="addCombination()"
                >
                  Agregar
                </button>
              </div>
              <div formArrayName="combinationArray">
                <div
                  *ngFor="
                    let combination of combinationArrayControls;
                    let i = index
                  "
                  [formGroupName]="i"
                  class="mt-2"
                >
                  <div class="row">
                    <div class="col">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Name"
                        style="border: 2px solid orange; margin-bottom: 14px"
                      />
                    </div>
                    <div class="col">
                      <input
                        type="number"
                        class="form-control"
                        formControlName="porcentage"
                        placeholder="Porcentage"
                        style="border: 2px solid orange"
                      />
                    </div>
                    <div class="col">
                      <button
                        type="button"
                        class="btn delete-button"
                        (click)="removeCombination(i)"
                      >
                        Eliminar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 gap-4 button-container">
          <button
            type="button"
            class="btn return-button"
            routerLink="/products"
          >
            Volver
          </button>
          <button type="submit" class="btn save-button">Añadir</button>
        </div>
      </form>
    </div>
  </div>
</div>
