<div class="footer">

  <div class="">
    <img src="../../../assets/Images/Logo.png" alt="">
  </div>

  <div class="text">
    <p class="content">Copyright © 2023 Fun Cooking | Powered by Fun Cooking</p>
  </div>

  <div class="social-media">
    <section class="center">
      <ul class="listado-items redes-sociales">
          <li class="item">
              <a href="">
                  <img src="../../../assets/Icons/instagram.png" alt="Icono de instagram">
              </a>
          </li>
          <li class="item">
              <a href="">
                  <img src="../../../assets/Icons/twitter.png" alt="Icono de twitter">
              </a>
          </li>
          <li class="item">
              <a href="">
                  <img src="../../../assets/Icons/facebook.png" alt="Icono de facebook">
              </a>
          </li>
          <li class="item">
              <a href="">
                  <img src="../../../assets/Icons/youtube.png" alt="Icono de youtube">
              </a>
          </li>
      </ul>
  </section>
  </div>
</div>
