/* .formulario {
  display: grid;
}

.container {
  height: 50vh;
  display: grid;
  align-items: center;
} */

.main-container {
  background-image: url("../../../assets/Images/Rectangle 69.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* min-width: 100vw; */
  /* height: 100%; */
  max-height: 100vh;
  min-height: 100vh;
  z-index: -99999;
}

.main-container2 {
  position: absolute;
  top: 0;
  left : 0;
  height: 100vh;
  width: 75%;
  /* height: 100%; */
  /* font-family: Rock Salt !important; */
  /* display: grid; */
  /* align-items: center; */
}

/* .big-container {
  display: none;
  padding: 1rem;
} */

.logo {
  margin: 1.5rem 0 0 3rem;
  /* text-align: center; */
  font-size: 3.5rem;
  font-weight: 700;
  font-family: Rock Salt;
}

.img-logo {
height: 100%;
display: grid;
align-items: center;
justify-content: center;
}

.imagenlogo {
  height: 600px;
  margin: 50px 200px 0 0;
}

.small-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2D2D2D;
  height: 100vh;
  top: 0;
  right: 0;
  margin-right: 60px;
  position: fixed;
  width: 600px;
  /* height: 500px; */
}

.form-container {
  width: 80%;
  max-width: 700px;
  height: 500px;
  z-index: 999;
}

.title, .label, .help span {
  color: #fff;
}

.form-field {
  margin: 2.5rem 0;
}

.label {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
}

.form-field input {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  color: #FFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  caret-color: #C8A86B;
}

.form-field input:focus {
  outline: none;
  background-color: transparent;
}

/* Chrome autofill input selected */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-text-fill-color: #FFF;
  -webkit-box-shadow: 0 0 0px 1000px #2D2D2D inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  font-size: 1.1rem;
}

.btn-submit {
  width: 100%;
  border-radius: 45px;
  color: #484848;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  background-color: #FCA84E;
  margin: 1rem 0;
}
