/* You can add global styles to this file, and also import other style files */

:root {
  /* Fuentes */
  --fuentes-principales: 'Montserrat', sans-serif;
  --fuentes-secundarias: 'Comfortaa', sans-serif,
  --fntes-terciarias: 'Nunito Sans', sans-serif;
  /* Colores */
  --azul: #003049
  --amarillo: #fcbf49
  --naranja: #f77f00
  --rojo: #d62828
}

*, html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.carousel-indicators button.ng-star-inserted.active {
  background-color: #fca84e;
}

div.carousel-indicators button.ng-star-inserted,
span.icon-prev.carousel-control-prev-icon,
span.icon-next.carousel-control-next-icon {
  background-color: #ffd98d;
  border-radius: 5px;
}

.font {
  font-family: "Montserrat-SemiBold", Helvetica;
}
